/*General*/
.botonMovimientos{
	background: #ffd200;
    background-position: left bottom;
    border: 2px solid #FFD200;
    cursor: pointer;
    display: inline-block;
    padding: 11px;
    transition: all .2s ease;
}
/*Fonts*/